In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.ticker as ticker
import matplotlib.dates as mdates
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
import re
import os

### ·          SUB – Submission data set; this includes one record for each XBRL submission. The set includes fields of information pertinent to the submission and the filing entity. Information is extracted from the SEC’s EDGAR system and the filings submitted to the SEC by registrants.

### ·          NUM – Number data set; this includes one row for each distinct amount from each submission included in the SUB data set. The Number data set includes, for every submission, for each primary financial statement as it is rendered by the SEC Viewer/Previewer, all line item values.

### ·         TAG – Tag data set; includes defining information about each tag.  Information includes tag descriptions (documentation labels), taxonomy version information and other tag attributes.

### ·          PRE – Presentation data set; this provides information about how the tags and numbers were presented in the primary financial statements.

# 2020 Quarters

In [17]:
df = pd.read_csv('../Data/num_2020q3.txt', sep='/t', engine='python', header=None, names=['adsh','tag','version','ddate','qtrs', 'uom','coreg','value', 'footnote'])
df

,adsh,tag,version,ddate,qtrs,uom,coreg,value,footnote
0,adsh\ttag\tversion\tcoreg\tddate\tqtrs\tuom\tv...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0001661920-20-000055\tEntityCommonStockSharesO...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0001469709-20-000039\tEntityCommonStockSharesO...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0001437557-20-000069\tEntityCommonStockSharesO...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0001628280-20-010192\tEntityCommonStockSharesO...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2351636,0001731122-20-000975\tSharesIssuedInKindForPre...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2351637,0001731122-20-000975\tStockIssuedPursuantToWar...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2351638,0001731122-20-000975\tStockIssuedPursuantToWar...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2351639,0001731122-20-000975\tStockoptionsComp\t000173...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2351640,0001731122-20-000975\tStockoptionsComp\t000173...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df = pd.read_csv('../Data/num_2020q3.txt', sep=r'\s{2,}', engine='python', header=None, names=['adsh','tag','version','ddate','qtrs', 'uom','coreg','value', 'footnote'])
df

,adsh,tag,version,ddate,qtrs,uom,coreg,value,footnote
0,adsh\ttag\tversion\tcoreg\tddate\tqtrs\tuom\tv...,None,None,None,None,None,NaN,NaN,NaN
1,0001661920-20-000055\tEntityCommonStockSharesO...,20200630\t0\tshares\t24944891.0000,None,None,None,None,NaN,NaN,NaN
2,0001469709-20-000039\tEntityCommonStockSharesO...,20200630\t0\tshares\t3109519939.0000,None,None,None,None,NaN,NaN,NaN
3,0001437557-20-000069\tEntityCommonStockSharesO...,20200630\t0\tshares\t95122430.0000,None,None,None,None,NaN,NaN,NaN
4,0001628280-20-010192\tEntityCommonStockSharesO...,20200630\t0\tshares\t103292470.0000,None,None,None,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2351636,0001731122-20-000975\tSharesIssuedInKindForPre...,20200630\t4\tUSD\t493192.0000,None,None,None,None,NaN,NaN,NaN
2351637,0001731122-20-000975\tStockIssuedPursuantToWar...,20190630\t4\tUSD\t6020000.0000,None,None,None,None,NaN,NaN,NaN
2351638,0001731122-20-000975\tStockIssuedPursuantToWar...,20200630\t4\tUSD\t1000000.0000,None,None,None,None,NaN,NaN,NaN
2351639,0001731122-20-000975\tStockoptionsComp\t000173...,20190630\t0\tUSD\t454643.0000,None,None,None,None,NaN,NaN,NaN
2351640,0001731122-20-000975\tStockoptionsComp\t000173...,20200630\t0\tUSD\t761613.0000,None,None,None,None,NaN,NaN,NaN

In [18]:
df = pd.read_fwf('../Data/num_2020q3.txt', header=None, names=['adsh','tag','version','ddate','qtrs', 'uom','coreg','value', 'footnote'])
df

,adsh,tag,version,ddate,qtrs,uom,coreg,value,footnote
0,adsh\ttag\tversion\tcoreg\tddate\tqtrs\tuom\tv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0001661920-20-000055\tEntityCommonStockSharesO...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0001469709-20-000039\tEntityCommonStockSharesO...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0001437557-20-000069\tEntityCommonStockSharesO...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0001628280-20-010192\tEntityCommonStockSharesO...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2351636,0001731122-20-000975\tSharesIssuedInKindForPre...,0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2351637,0001731122-20-000975\tStockIssuedPursuantToWar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2351638,0001731122-20-000975\tStockIssuedPursuantToWar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2351639,0001731122-20-000975\tStockoptionsComp\t000173...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2351640,0001731122-20-000975\tStockoptionsComp\t000173...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df = pd.read_csv('../Data/num_2020q3.txt', sep=r'\s{2,}', engine='python')
##df = df[0].str.split(',', expand=True)

ParserError: Expected 2 fields in line 3624, saw 3. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [3]:
##q3_2020 = pd.read_csv('../Data/num_2020q3.txt', sep="\")
##q3_2020 = q3_2020 [0].str.split(',', expand=True)

In [4]:
df = pd.read_csv(os.path.join(maindir, '../Data/num_2020q3.txt'),\
skiprows = 2, delimiter = r'\s+', header = None)

NameError: name 'maindir' is not defined

In [ ]:
df