In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.ticker as ticker
import matplotlib.dates as mdates
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
import re

### ·          SUB – Submission data set; this includes one record for each XBRL submission. The set includes fields of information pertinent to the submission and the filing entity. Information is extracted from the SEC’s EDGAR system and the filings submitted to the SEC by registrants.

### ·          NUM – Number data set; this includes one row for each distinct amount from each submission included in the SUB data set. The Number data set includes, for every submission, for each primary financial statement as it is rendered by the SEC Viewer/Previewer, all line item values.

### ·         TAG – Tag data set; includes defining information about each tag.  Information includes tag descriptions (documentation labels), taxonomy version information and other tag attributes.

### ·          PRE – Presentation data set; this provides information about how the tags and numbers were presented in the primary financial statements.

# 2020 Quarters

In [12]:
df = pd.read_fwf('../Data/num_2020q3.txt')
df
##df = df[0].str.split(',', expand=True)

,adsh\ttag\tversion\tcoreg\tddate\tqtrs\tuom\tvalue\tfootnote,Unnamed: 1
0,0001661920-20-000055\tEntityCommonStockSharesO...,NaN
1,0001469709-20-000039\tEntityCommonStockSharesO...,NaN
2,0001437557-20-000069\tEntityCommonStockSharesO...,NaN
3,0001628280-20-010192\tEntityCommonStockSharesO...,NaN
4,0001469709-20-000042\tEntityCommonStockSharesO...,NaN
...,...,...
2351635,0001731122-20-000975\tSharesIssuedInKindForPre...,0000
2351636,0001731122-20-000975\tStockIssuedPursuantToWar...,NaN
2351637,0001731122-20-000975\tStockIssuedPursuantToWar...,NaN
2351638,0001731122-20-000975\tStockoptionsComp\t000173...,NaN
2351639,0001731122-20-000975\tStockoptionsComp\t000173...,NaN

In [3]:
##q3_2020 = pd.read_csv('../Data/num_2020q3.txt', sep="\")
##q3_2020 = q3_2020 [0].str.split(',', expand=True)